*~
*.o
*.so
*.la
*.lo
*.libs
.gdbinit
test_file*

gzdec*/**/Makefile
Makefile.in
.deps
.dirstamp

aclocal.m4
autom4te.cache/
build-aux/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
